.App {
    height: 100vh;
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #3cb371;
    font-weight: 600;
    font-size: 30px;
}
.NavItem {
    color: aquamarine;
    font-weight: normal;
}
.NavActive {
    font-weight: bold;
    color: #3cb371;
}